.form-control {
    height: 50px;
}

.cardInput {
    position: relative
}

.cardInput i {
    position: absolute;
    top: 16px;
    left: 11px;
    color: #989898
}

.cardInput input {
    text-indent: 25px
}

.cardInput div {
    text-indent: 25px
}
