.flex-microform-focused {
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
.flex-microform-invalid {
    background-color: yellow;
    border-color: red;
    outline: 10;
    box-shadow: 0 0 0 0.2rem rgba(255,0,0,.25);
}
.form-control {
    height: 50px;
}

.cardInput {
    position: relative
}

.cardInput i {
    position: absolute;
    top: 16px;
    left: 11px;
    color: #989898
}

.cardInput input {
    text-indent: 25px
}

.cardInput div {
    text-indent: 25px
}
