.flex-microform-focused {
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
.flex-microform-invalid {
    background-color: yellow;
    border-color: red;
    outline: 10;
    box-shadow: 0 0 0 0.2rem rgba(255,0,0,.25);
}
 #overlay {
     position: fixed;
     display: none;
     /*width: 100% ;*/
     /*height: 100%;*/
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: rgba(184, 255, 48, 0.82);
     z-index: 2;
     cursor: pointer;
 }
.form-control {
    height: 50px;
}

.cardInput {
    position: relative
}

.cardInput i {
    position: absolute;
    top: 16px;
    left: 11px;
    color: #989898
}

.cardInput input {
    text-indent: 25px
}

.cardInput div {
    text-indent: 25px
}
